/*soft reset do css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url('../img/fundo.jpg');/*url('https://i.pinimg.com/474x/9a/cf/22/9acf226890333202111a22c75cd60fee--wallpaper-iphone-phone-wallpapers.jpg');*/
    /*background-size: 800px 700px;*/
    /* vh é em percentual e o auto adapta ao tamanho da tela*/
    background-size: 100vw 100vh;
    font-family: Arial;
    height: 100vh;
  }
  
  /*se a tela tiver pelo menos 400 px vai carregar estes estilos*/
  @media (min-width: 400px ) {
    body {
        font-size: 14px;
    }
  }
  header {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  /*classe*/
  .menu {
    background-color: white;
    position: fixed;
    width: 100vw;
    top: 0;
  }

  .menu a {
      display: block;
      padding: 10px 20px;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-between;
  }

  /*todas as listas que estão dentro de um elemento classe menu*/
  .menu li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  /*pseudo clase*/
  a:hover {
    text-decoration: underline;
    background-color: turquoise;
  }
  
  /* para mais de uma class ao mesmo tempo*/
  .site-subtitle,
  .site-title {
    color: whitesmoke;
    text-align: center;
  }
  
  .site-subtitle {
    font-style: italic;
  }

  .img-portfolio {
      height: 360px;
      width: 640px;
      text-align: center;
  }