/*soft reset do css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /*background-image: url('../img/fundo.jpg');*/
    /*url('https://i.pinimg.com/474x/9a/cf/22/9acf226890333202111a22c75cd60fee--wallpaper-iphone-phone-wallpapers.jpg');*/
    /*background-size: 800px 700px;*/
    /* vh é em percentual e o auto adapta ao tamanho da tela*/
    /*background-size: 100vw 100vh;*/
    background-color: rgb(11, 112, 143);
    font-family: Arial;
    height: 100vh;
    font-family: 'Jost', sans-serif;
  }
  
  /*se a tela tiver pelo menos 400 px vai carregar estes estilos*/
  @media (min-width: 400px) {
    body {
      font-size: 18px;
    }
  }
  
  @media (min-width: 600px) {
    body {
      font-size: 22px;
    }
  }

  header {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
  }

  /*classe*/
  .menu {
    background-color: whitesmoke;
    position: fixed;
    width: 100vw;
    top: 0;
  }

  .menu a {
    color: teal;
    display: block;
    padding: 10px;
    text-decoration: none;
    transition: background-color 1s, color 1s;
  }
  
  .menu a:active,
  .menu a:hover {
    background-color: teal;
    color: whitesmoke;
    text-decoration: none;
  }

  .menu ul {
    display: flex;
    justify-content: space-around;
  }

  /*todas as listas que estão dentro de um elemento classe menu*/
  .menu li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  /*pseudo clase*/
  a:hover {
    text-decoration: underline;
  }
  
 .titulo {
    transform: scale(0.2) translateY(0);
    opacity: 0;
    
    animation: 500ms linear 500ms animacaoTitulo forwards;

    z-index: 1;
 }

 /*criando aimação*/
 @keyframes animacaoTitulo {

    0% {

    }
    100% {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
 }

  /* para mais de uma class ao mesmo tempo*/
  .site-subtitle,
  .site-title {
    color: whitesmoke;
    text-align: center;
  }

  .site-title {
      font-size: 8em;
      font-family: 'Amatic SC', cursive;
      line-height: 1em;
  }

  .site-subtitle {
    font-style: italic;
    font-family: 'Righteous', cursive;
  }

  .contato,
  .portfolio {
    padding: 2em;
    min-height: 100vh;
  }

  .contato h2,
  .portfolio h2 {
    font-family: 'Righteous', cursive;
    color: whitesmoke;
    margin-bottom: 1.5em;
    font-size: 2em;
  }

  .portfolio .grid {
    display: grid;
    gap: 2em;
    justify-content: center;
  }

  @media (min-width: 560px) {
    .portfolio .grid {
        grid-template-columns: 240px 240px;
      }
  }

  @media (min-width: 880px) {
    .portfolio .grid {
        grid-template-columns: repeat(3,240px);
        align-content: center;
        height: calc(100vh - 8em -54px -52px);
      }
  }

  .portfolio figure {
      text-align: center;
  }

  .img-portfolio {
      height: 180px;
      width: 240px;
      object-fit: cover;
      object-position: bottom;
      border-radius: 5%;
      transition: transform 500ms;
  }

  .img-portfolio:hover {
      transform: scale(1.2) rotate(1deg);
  }

  .contato .icons{
      text-align: center;

  }

  .contato  a {
      color: whitesmoke;
      font-size: 4em;
      transition: text-shadow 1s;
  }

  .contato a:active,
  .contato a:hover {
      text-decoration: none;
      text-shadow: 0px 0px 25px rgba(255, 255, 255, 0.5);
  }